* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(Pictures/banner.jpg);
    background-size: 100vw 280px;
    background-repeat: no-repeat;
}

/*CONTAINER*/

.container {
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 3;
    align-items: center;
}

/*NAVIGATION BAR*/

.navbar {
    background: #B0C69B;
    width: 100%;
    height: 78px;
}   

#logo {
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    float: left;
}

#tabs {
    float: right;
    color: #225F4E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-top: 23px;
}

#tabs a {
    margin-right: 1vw;
    text-transform: uppercase;
    color: #225F4F;
    text-decoration: none;
}

#tabs a:hover {
    padding: 5px;
    background-color: rgb(130, 163, 148);
    color: #f3f3f3;
    transition: 0.3s;
}

/*BANNER*/

.banner {
    background-image: url(Pictures/bg\ for\ proj.jpg);
    width: 100%;
    height: 200px;
    text-align: center;
}

.heading {
    padding-top: 25px;
}

#title {
    text-transform: uppercase;
    font-weight: bold;
    color: #1F3B3B;
    font-size: 30px;
}

#subtitle {
    color: #1F3B3B;
    font-size: 25px;
}

.data-tab {
    display: inline;
    margin: 20px;
}

.data-tab a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #225F4F;
    margin-right: 20px;
}

/*FOOTER*/

.footer {
    background: #4C625D;
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    position: relative;

    font-size: large;
}

.socials {
    margin-left: 1.5vw;
    color: white;
}

#socmed {
    margin: 5px 5px 5px 0px;
}

.about {
    color: white;
    margin-right: 1.5vw;
}

.about a {
    color: white;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/*CONTENT*/

.content {
    text-align: justify;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 35px;
    margin-bottom: 11.4vw;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    list-style-type: disc;
}

/*DATA CONTENT*/

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 11.4vw;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;   
    width: 100vw;
}

.description {
    float: right;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pie-graph img {
    margin-left: 10px;
    float: left;
}